h1, h2, h3 {
  font-family: "Open Sans";
}


.hero {
  background-image: url("/images/Dark Image.png");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 674px;
}

.readytosee {
  background-image: url("/images/Lifestyle Image.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  height: auto;
}


.refined-expertise {
  background-image: url("/images/topography 2.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: contain;
  height: auto;
}


.whosmma{
  background-color: #f5fbfe;
}


.medicaresupplemental{
  background-color: #f5fbfe;
}


.planscta {
  background-color: #0096d2;
}

.footer {
  background-color: #f2f8ff;
}






.get-started {
  background-image: url("/images/topography3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%; 
  background-size: cover;
}
